<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrafechas. Fechas</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/spacelab/bootstrap.min.css">

    <!-- Vinculación index.html con main.css -->

    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
</head>
<body>
    <!-- Barra de Navegación Bootswatch Spacelab -->

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Registrafechas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="informes">Informes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="productos">Productos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="fechas">Fechas</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

    <!-- Alta y Baja de Fechas-->
    <div class="col-md-6 offset-md-3 my-auto">
        <form action="/fechas/crear-fecha" method="post">
            <div class="form-group">
                <label class="form-group mt-2"><b>Alta y Baja de Fechas</b></label>
            <div class="form-group mt-2">
                <label for="floatingIdProductoFecha">idProducto</label>
                <input type="text" name="idProductoFecha" class="form-control" id="floatingIdProductoFecha" placeholder="idProducto">
            </div>
            <div class="form-group mt-2">
                <label for="floatingFecha">Fecha</label>
                <input type="text" name="fecha"class="form-control" id="floatingFecha" placeholder="Fecha">
            </div>

            <button type="submit" class="btn btn-secondary">Crear Fecha</button>
            <button type="submit" class="btn btn-secondary">Eliminar Última Fecha</button>
            <button type="submit" class="btn btn-secondary">Sobreescribir Última Fecha</button>

          </div>
        </form>
    </div>
</body>
</html>