<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrafechas. Fechas</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/spacelab/bootstrap.min.css">

    <!-- Vinculación index.html con main.css -->

    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
</head>
<body>
    <!-- Barra de Navegación Bootswatch Spacelab -->

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Registrafechas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Inicio</a>
                </li>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="separador_pequeno"></div>
        <div class="separador_pequeno"></div>
        <div class="alert alert-dismissible alert-danger col-md-6 offset-md-3 my-auto">
        <button data-bs-dismiss="alert"></button>
        <strong>¡Atención!</strong>Para dar de alta la fecha correctamente sobreescribe todos los campos.
        </div>

    <!-- Alta y Baja de Fechas-->
    <div class="col-md-6 offset-md-3 my-auto">
        <form action="/confirmar-fecha/{{numProducto}}" method="post">
            <div class="form-group">
                <label class="form-group mt-2"><b>Alta de Fecha</b></label>
            <div class="form-group mt-2">
                <label for="floatingIdProductoFecha">idProducto</label>
                <input type="text" name="idProductoFecha" class="form-control" id="floatingIdProductoFecha" placeholder="{{editFecha.idProducto}}">
            </div>
            <div class="form-group mt-2">
                <label for="floatingNombreProductoFecha">Nombre Producto</label>
                <input type="text" name="nombreProductoFecha" class="form-control" id="floatingNombreProductoFecha" placeholder="{{editFecha.nombreProducto}}">
            </div>
            <div class="form-group mt-2">
                <label for="floatingFecha">Fecha</label>
                <input type="text" name="fecha" class="form-control" id="floatingFecha" placeholder="Fecha (formato YYYY-MM-DD)">
            </div>

            <button type="submit" class="btn btn-secondary">Crear Fecha</button>


    </div>
</body>
</html>