<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrafechas. App para el Control de Caducidades</title>

    <!-- Boostrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/spacelab/bootstrap.min.css">

    <!-- Vinculación index.html con main.css -->

    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
</head>
<body>
    <main>
        <!-- Barra de Navegación Bootswatch Spacelab -->

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Registrafechas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="acciones">Gestión de Producto</a>
                </li>
                  <li class="nav-item">
                  <a class="nav-link" href="caducidades">Caducidades</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <!-- Separador -->
        <div class="separador_pequeno"></div>
        <!-- Etiqueta de la pantalla de inicio -->
        <div class="row">
            <div class="col-md-6 offset-md-3 my-auto">
                <!-- Disclaimer Bootswatch Spacelab-->
                    <div class="alert alert-dismissible alert-secondary">
                      <strong>¡Bienvenido!</strong> Vas a utilizar el programa Registrafechas. Considera estas instrucciones<br>
                      <p></p>
                      <p><strong>Gestión de Producto</strong> Desde la página Gestión de Producto se visualizan los artículos registrados y se accede a las siguientes funcionalidades:</p>
                      <p><li><strong>Registrar Nuevo Producto</strong> Se introducen todos los campos requeridos y, al pulsar Guardar Cambios, se almacena el producto en la base de datos.</li></p>
                      <p></p>
                      <p><li><strong>Modificar</strong> Permite acceder al formulario de modificación de datos del producto seleccionado. Es necesario rellenar todos los campos del formulario antes de guardar cambios.</li></p>
                      <p></p>
                      <p><li><strong>Eliminar</strong> Elimina el producto seleccionado.</li></p>
                      <p></p>
                      <p><li><strong>Alta Fecha</strong> Permite acceder al formulario de alta de fecha vinculada al producto seleccionado. Es necesario rellenar todos los campos del formulario antes de guardar cambios.</li></p>
                      <p></p>
                      <strong>Caducidades</strong> Desde la página Caducidades se visualizan las caducidades asociadas al listado de productos y se accede a las siguientes funcionalidades:<br>
                      <p></p>
                      <p><li><strong>Productos Próximos a Caducar</strong> Muestra el listado de los productos ordenados por fecha de caducidad más próxima.</li></p>
                      <p></p>
                      <p><li><strong>Eliminar Fecha</strong> Elimina la fecha asociada al producto seleccionado.</li></p>
                      <p></p>
                    </div>
            </div>

        </div>
    </main>
</body>
</html>