<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrafechas. Productos</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/spacelab/bootstrap.min.css">

    <!-- Vinculación index.html con main.css -->

    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
</head>
<body>
<!-- Barra de Navegación Bootswatch Spacelab -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Registrafechas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="acciones">Gestión de Producto</a>
                </li>
                </li>
                  <li class="nav-item">
                  <a class="nav-link" href="caducidades">Caducidades</a>
                </li>
              </ul>
            </div>
          </div>
    </nav>

    <!-- Separador pequeño-->
    <div class="separador_pequeno"></div>

    <!-- Formulario de registro de producto-->
    <div class="col-md-6 offset-md-3 my-auto">
        <form action="/productos/crear-producto" method="post">
            <div class="form-group">
                <label class="form-group mt-2"><b>Registrar Nuevo Producto</b></label>
            <div class="form-group">
                <fieldset disabled="">
                <label class="form-label" for="disabledInput">idProducto</label>
                <input class="form-control" id="disabledInput" type="text" placeholder="idProducto" disabled="">
                </fieldset>
            </div>
            <div class="form-group mt-2">
                <label for="floatingNombre">Nombre</label>
                <input type="text" name="nombre" class="form-control" autofocus id="floatingNombre" placeholder="Nombre">
            </div>
            <div class="form-group mt-2">
                <label for="floatingReferencia">Referencia</label>
                <input type="text" name="referencia" class="form-control" id="floatingReferencia" placeholder="Referencia">
            </div>
            <div class="form-group mt-2">
                <label for="floatingCodBarras">Código de Barras</label>
                <input type="text" name="codigoBarras" class="form-control" id="floatingCodBarras" placeholder="Código de Barras">
            </div>
            <div class="form-group mt-2">
                <label for="floatingMarca">Marca</label>
                <input type="text" name="marca"class="form-control" id="floatingMarca" placeholder="Marca">
            </div>
            <div class="form-group mt-2">
                <label for="floatingProveedor">Proveedor</label>
                <input type="text" name="proveedor" class="form-control" id="floatingProveedor" placeholder="Proveedor">
            </div>

          <div class="col-md-6 offset-md-5 my-auto">

            <button type="submit" class="btn btn-secondary">Guardar Cambios</button>

          </div>
        </form>
    </div>
</body>
</html>